@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <h1>プライバシーポリシー</h1>
    <div class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6 p-4">
                    <h4> <b>個人情報について</b> </h4>
                    <p>このサイトでは個人情報を取り扱っていません。<br>クッキーやIPアドレス情報の利用も行っていません。<br>多分大丈夫ですので、安心して閲覧ください。</p>
                </div>
                <div class="col-md-6 p-4">
                    <h4> <b>Registerについて</b> </h4>
                    <p>ここではメールやパスワードの登録を行います。<br>登録したからには何の安全の保障もありません。<br>夢も希望も捨て去る覚悟で登録してください。</p>
                </div>
            </div>
        </div>
    </div>
</div>

