@model BestNox.Models.QaData

@{
    ViewData["Title"] = "Create";
}

<h1>新規作成</h1>

<h4>メモ</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label><label>（50字まで）</label>
                <input placeholder="タイトル" asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question" class="control-label"></label>
                <ul>
                    <li>Markdownが使用できます（表示は詳細画面）</li>
                </ul>
                <textarea placeholder="問題" asp-for="Question" class="form-control" TextMode="multiline" rows="10"></textarea>
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer" class="control-label"></label>
                <ul>
                    <li>Markdownが使用できます（表示は詳細画面）</li>
                </ul>
                <textarea placeholder="回答" asp-for="Answer" class="form-control" TextMode="multiline" rows="10"></textarea>
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsSolved" /> @Html.DisplayNameFor(model => model.IsSolved)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="RelativeNo" class="control-label"></label><label>（高い方が優先）</label>
                <input asp-for="RelativeNo" class="form-control" />
                <span asp-validation-for="RelativeNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" asp-items="ViewBag.SelectList" class="form-control">
                    <option value="">選択してください</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPublic" /> @Html.DisplayNameFor(model => model.IsPublic)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="登録" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">一覧に戻る</a>
</div>

